absl-py                           
accelerate                        
aiohappyeyeballs                  
aiohttp                           
aiosignal                         
annotated-doc                     
annotated-types                   
antlr4-python3-runtime            
anyio                             
astor                             
attrs                             
blake3                            
cachetools                        
cbor2                             
certifi                           
cffi                              
charset-normalizer                
click                             
cloudpickle                       
codetiming                        
compressed-tensors                
contourpy                         
coverage                          
cryptography                      
cupy-cuda12x                      
cycler                            
datasets                          
depyf                             
dill                              
diskcache                         
distro                            
dnspython                         
einops                            
email-validator                   
fastapi                           
fastapi-cli                       
fastapi-cloud-cli                 
fastar                            
fastrlock                         
filelock                          
flash_attn==2.8.1
fonttools                         
frozendict                        
frozenlist                        
fsspec                            
gguf                              
gitdb                             
GitPython                         
grpcio                            
h11                               
hf-xet                            
httpcore                          
httptools                         
httpx                             
huggingface-hub                   
hydra-core                        
idna                              
importlib_metadata                
iniconfig                         
interegular                       
Jinja2                            
jiter                             
jsonschema                        
jsonschema-specifications         
kiwisolver                        
lark                              
llguidance                       
llvmlite                          
lm-format-enforcer                
Markdown                          
markdown-it-py                    
MarkupSafe                        
matplotlib                        
mdurl                             
mistral_common                    
mpmath                            
msgpack                           
msgspec                           
multidict                         
multiprocess                      
networkx                          
ninja                             
numba                             
numpy                             
nvidia-cublas-cu12                
nvidia-cuda-cupti-cu12            
nvidia-cuda-nvrtc-cu12            
nvidia-cuda-runtime-cu12          
nvidia-cudnn-cu12                
nvidia-cufft-cu12                 
nvidia-cufile-cu12                
nvidia-curand-cu12                
nvidia-cusolver-cu12              
nvidia-cusparse-cu12              
nvidia-cusparselt-cu12            
nvidia-nccl-cu12                  
nvidia-nvjitlink-cu12             
nvidia-nvtx-cu12                  
omegaconf                         
openai                            
openai-harmony                    
opencv-python-headless            
orjson                            
outlines_core                     
packaging                         
pandas                            
partial-json-parser               
pathspec                          
peft                              
pillow                            
pip                               
platformdirs                      
pluggy                            
prometheus_client                 
prometheus-fastapi-instrumentator 
propcache                         
protobuf                          
psutil                            
py-cpuinfo                        
pyarrow                           
pybase64                          
pybind11                          
pycountry                         
pycparser                         
pydantic                       
pydantic_core                   
pydantic-extra-types              
pydantic-settings                 
Pygments                          
pylatexenc                        
pyparsing                         
pytest                            
pytest-asyncio                    
pytest-cov                        
pytest-mock                       
pytest-random-order               
python-dateutil                   
python-dotenv                     
python-json-logger                
python-multipart                  
pytz                              
pyvers                            
PyYAML                            
pyzmq                             
ray==2.53.0
referencing                       
regex                             
requests                          
rich                              
rich-toolkit                      
rignore                           
rpds-py                           
safetensors                       
scikit-build                      
scikit_build_core                 
scipy                             
sentencepiece                     
sentry-sdk                        
setproctitle                      
setuptools                        
shellingham                       
six                               
smmap                             
sniffio                           
soundfile                         
soxr                              
starlette                         
sympy                             
tensorboard                       
tensorboard-data-server           
tensordict                        
tiktoken                         
tokenizers                        
torch==2.8.0
torchaudio==2.8.0
torchdata==0.11.0
torchvision==0.23.0
tqdm                              
transformers                      
triton==3.4.0
typer                             
typing_extensions                 
typing-inspection                 
tzdata                            
urllib3                           
uvicorn                           
uvloop                            
vllm==0.11.0
wandb                             
watchfiles                        
websockets                        
Werkzeug                          
wheel                             
xformers                         
xgrammar                          
xxhash                            
yarl                              
zipp                              